<ion-content [fullscreen]="true" padding class="fondonegro">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <div class="centrado">
            <div class="logo">
                <ion-img class="logosize" src="../../assets/logo_gio.png"></ion-img>
                <div class="link">
                    <!--  -->
                    <ion-button size="large" style="--background:#ee9408;--background-hover:#fca110" fill="solid" expand="block" (click)="abrirEnlace()">
                        <ion-icon slot="start" name="enter-outline"></ion-icon> INICIAR SESION
                    </ion-button>
                </div>

            </div>
        </div>



    </div>
</ion-content>