@media (orientation: portrait) {
    #container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 150px;
        // transform: translateY(-50%);
    }
}

@media (orientation: landscape) {
    #container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        // transform: translateY(-50%);
    }
}

ion-content {
    --ion-background-color: #000000;
    opacity: 85%;
    .centrado {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (orientation: portrait) {
        .centrado .logo {
            // width: 350px;
            // height: 220px;
            width: 70%;
            justify-content: center;
            align-items: center;
        }
        .link ion-button {
            margin-top: 150px;
            font-size: 15px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    @media (orientation: landscape) {
        .centrado .logo {
            // width: 350px;
            // height: 220px;
            width: 30%;
            justify-content: center;
            align-items: center;
            // padding: 20% 5% 0;
            margin-top: 40px;
        }
        .link ion-button {
            margin-top: 100px;
            font-size: 15px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    // .logosize {
    //     width: 100%;
    //     justify-content: center;
    //     align-items: center;
    // }
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}